body {display: flex; justify-content: center; margin: 0;}
p {margin: 0;}
input {border: 0; text-align: center; font-weight: bold; font-size: large;}
.Frame {
    width: 360px; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.MainPage {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    gap: 10px;
}

.Profile {
    background-color: #f4f4f4; 
    width: 150px; 
    height: 150px; 
    border-radius: 50%;
}
.Content {
    background-color: #f4f4f4; 
    width: 60%; 
    height: 30px; 
    border-radius: 15px;
}
.Post {
    border: 3px solid goldenrod; 
    width: 100px; 
    height: 30px; 
    border-radius: 15px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: goldenrod;
    margin-top: 50px;
}